.coin-container {
  display: flex;
  justify-content: center;
}

.coin-row {
  display: flex;
  flex-direction: row;
  justify-items: start;
  align-items: center;
  height: 80px;
  width: 900px;
  border-bottom: 1px solid #d7d7d7;
}

.coin {
  display: flex;
  align-items: center;

  min-width: 300px;
  width: 100%;
}

.coin img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.coin h1 {
  font-size: 16px;
  width: 150px;
}
.coin-symbol {
  text-transform: uppercase;
}

.coin-data {
  display: flex;
  text-align: center;
  justify-content: space-between;
  width: 100%;
}
.coin-data p {
  height: 30px;
}
.coin-price {
  width: 150px;
}

.coin-volume {
  width: 150px;
}

.coin-marketcap {
  width: 200px;
}

.coin-percentage {
  width: 200px;
}
.red {
  color: red;
}
.green {
  color: green;
}
